body {
  font-family: "Heletica Neue", "Tahoma", sans-serif; }

a {
  text-decoration: none; }

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff; }

h4 {
  font: bold 50px "Heletica Neue", "Tahoma", sans-serif;
  color: #1d1d1d;
  margin-top: 0;
  margin-bottom: 0; }

.header {
  background: url("../img/headerBg.jpg") top center no-repeat;
  background-size: cover;
  padding-bottom: 160px; }
  .header h2 {
    font: 116px "Impact", "Tahoma", sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 250px;
    margin-bottom: 0; }
  .header .headerTopBg {
    background: rgba(246, 249, 249, 0.9); }
    .header .headerTopBg .headerTop {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: stretch; }
      .header .headerTopBg .headerTop .logo h1 {
        font-size: 38px;
        font-weight: bold;
        color: #626262;
        text-transform: uppercase; }
        .header .headerTopBg .headerTop .logo h1 span {
          color: #06b5a9; }
      .header .headerTopBg .headerTop .navigation {
        flex-basis: 400px;
        display: flex;
        justify-content: space-between; }
        .header .headerTopBg .headerTop .navigation a {
          flex-basis: 100px;
          text-align: center;
          line-height: 93px;
          color: #626262;
          font-size: 18px;
          border-bottom: 1px solid transparent; }
          .header .headerTopBg .headerTop .navigation a:hover {
            box-sizing: border-box;
            color: #fff;
            background: #cf1a2b;
            border-bottom: 1px solid #d94855; }
      .header .headerTopBg .headerTop .basket {
        display: flex;
        align-items: center; }
        .header .headerTopBg .headerTop .basket a {
          margin-right: 10px; }
          .header .headerTopBg .headerTop .basket a .basketSvg {
            height: 30px;
            width: 30px;
            fill: #bdbdbd; }
        .header .headerTopBg .headerTop .basket span {
          color: #9d9d9d;
          font-size: 24px; }

.bestSales {
  background: #fff; }
  .bestSales .bestSalesBlock {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between; }
    .bestSales .bestSalesBlock .item1 {
      background: #58dbd3; }
      .bestSales .bestSalesBlock .item1:after {
        content: '';
        display: block;
        background: url("../img/item1.png") right center no-repeat;
        height: 244px; }
    .bestSales .bestSalesBlock .item2 {
      background: #e4ce9a; }
      .bestSales .bestSalesBlock .item2:after {
        content: '';
        display: block;
        background: url("../img/item2.png") right bottom no-repeat;
        height: 184px; }
    .bestSales .bestSalesBlock .item3 {
      background: #ffa7ce; }
      .bestSales .bestSalesBlock .item3:after {
        content: '';
        display: block;
        background: url("../img/item3.png") right bottom no-repeat;
        height: 159px; }
    .bestSales .bestSalesBlock .style {
      flex-basis: 300px;
      position: relative;
      padding: 5px 0px 5px 20px; }
      .bestSales .bestSalesBlock .style p {
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 75%;
        text-transform: uppercase;
        font-size: 50px;
        color: #12867f;
        margin-top: 0;
        margin-bottom: 0; }

.categories {
  background: url("../img/categoriesBg.jpg") top center no-repeat;
  background-size: cover;
  padding: 40px 0 150px 0; }
  .categories .categoriesBlock {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px; }
    .categories .categoriesBlock h2 {
      font: 116px "Josefin Slab", "Tahoma", sans-serif;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0; }
    .categories .categoriesBlock .categoriesList {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .categories .categoriesBlock .categoriesList a {
        flex-basis: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;
        background: rgba(59, 120, 121, 0.5); }
        .categories .categoriesBlock .categoriesList a:hover {
          background: rgba(17, 35, 35, 0.5); }
        .categories .categoriesBlock .categoriesList a:after {
          content: '';
          width: 120px;
          height: 130px;
          position: absolute;
          top: 13%;
          left: 13%;
          background: url("../img/categoriesSetIcon.png") no-repeat; }
      .categories .categoriesBlock .categoriesList .item2::after {
        background-position: -145px 0; }
      .categories .categoriesBlock .categoriesList .item3::after {
        background-position: -282px 0; }
      .categories .categoriesBlock .categoriesList .item4::after {
        background-position: -408px 0; }
      .categories .categoriesBlock .categoriesList .item5::after {
        background-position: -558px 0; }
      .categories .categoriesBlock .categoriesList .item6::after {
        background-position: -685px 0; }
      .categories .categoriesBlock .categoriesList .item7::after {
        background-position: -806px 0; }
      .categories .categoriesBlock .categoriesList .item1:hover::after {
        background-position: 0 10px; }
      .categories .categoriesBlock .categoriesList .item2:hover::after {
        background-position: -145px 10px; }
      .categories .categoriesBlock .categoriesList .item3:hover::after {
        background-position: -282px 5px; }
      .categories .categoriesBlock .categoriesList .item4:hover::after {
        background-position: -408px 10px; }
      .categories .categoriesBlock .categoriesList .item5:hover::after {
        background-position: -558px 10px; }
      .categories .categoriesBlock .categoriesList .item6:hover::after {
        background-position: -685px 10px; }
      .categories .categoriesBlock .categoriesList .item7:hover::after {
        background-position: -806px 10px; }

.products {
  background: #fff; }
  .products .productsBlock {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px; }
    .products .productsBlock .productsTop {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .products .productsBlock .productsTop .productsItem {
        flex-basis: 60%; }
        .products .productsBlock .productsTop .productsItem .logoItem {
          background: url("../img/levis.png") no-repeat;
          width: 376px;
          height: 171px;
          position: relative;
          top: -56px; }
        .products .productsBlock .productsTop .productsItem .descriptionItem {
          font: 15px "HelveticaCyr Uplight", "Tahoma", "sans-serif";
          line-height: 1.5;
          color: #1d1d1d; }
        .products .productsBlock .productsTop .productsItem .priceBlock {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .products .productsBlock .productsTop .productsItem .priceBlock .priceItem {
            margin-top: 20px;
            font-size: 36px;
            color: 1d1d1d; }
            .products .productsBlock .productsTop .productsItem .priceBlock .priceItem span {
              font-weight: bold; }
          .products .productsBlock .productsTop .productsItem .priceBlock .btnAdd {
            font-size: 38px;
            color: #fff;
            background: #d62132;
            border: none;
            padding: 8px 12px 8px 60px;
            cursor: pointer;
            position: relative; }
            .products .productsBlock .productsTop .productsItem .priceBlock .btnAdd:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 8%;
              margin-top: -13px;
              width: 29px;
              height: 26px;
              background: url("../img/basket.png") no-repeat; }
          .products .productsBlock .productsTop .productsItem .priceBlock .btnAdd:hover {
            background: #681018; }
      .products .productsBlock .productsTop .productsPhoto {
        flex-basis: 40%;
        background: url("../img/productItem.jpg") top right no-repeat;
        height: 477px; }
    .products .productsBlock .productsBottom {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 80px; }
      .products .productsBlock .productsBottom figure {
        margin: 40px 0 20px 0;
        display: block;
        flex-basis: 220px;
        height: 170px;
        background: #fbfbfb;
        border: 1px solid #cacaca;
        text-align: center;
        cursor: pointer; }
        .products .productsBlock .productsBottom figure .photoItem {
          width: 100%;
          height: auto; }
        .products .productsBlock .productsBottom figure figcaption {
          font-size: 16px;
          color: rgba(29, 29, 29, 0.88);
          margin-top: 15px; }
        .products .productsBlock .productsBottom figure:hover {
          border: 1px solid rgba(255, 128, 140, 0.88); }

.footer {
  background: #1b2330;
  padding: 20px 0; }
  .footer .footerBlock {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between; }
    .footer .footerBlock .footerLeft .footerLogo h1 {
      font-size: 38px;
      font-weight: bold;
      color: #626262;
      text-transform: uppercase;
      margin: 0 0; }
      .footer .footerBlock .footerLeft .footerLogo h1 span {
        color: #06b5a9; }
    .footer .footerBlock .footerLeft .copy {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 0; }
    .footer .footerBlock .footerRight {
      display: flex;
      align-items: center; }
      .footer .footerBlock .footerRight .s {
        width: 40px;
        height: 40px;
        fill: #fff;
        margin-left: 20px; }
      .footer .footerBlock .footerRight a:hover .s {
        fill: #bfbfbf; }

/*# sourceMappingURL=main.css.map */
