body{
    font-family: $HelveticaNeue;
}
a{
    text-decoration: none;
}
h3{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color:#fff;
}
h4{
    font:bold 50px $HelveticaNeue;
    color:#1d1d1d;
    margin-top:0;
    margin-bottom: 0;
}
//header
.header{
    background: url('../img/headerBg.jpg')top center no-repeat;
    background-size: cover;
    padding-bottom:160px; 
    h2{
        font:116px $Impact;
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        margin-top: 250px;
        margin-bottom: 0;
       
    }
    .headerTopBg{
        background: rgba(246,249,249,.9);
        .headerTop{
            @include wrapper;
            display: flex;
            justify-content:space-between;
            align-items: stretch;
            .logo{
                h1{
                    font-size:38px;
                    font-weight: bold;
                    color:#626262;
                    text-transform: uppercase;
                    span{
                        color:#06b5a9;
                    }
                }
            }
            .navigation{
                flex-basis: 400px;
                display:flex;
                justify-content: space-between;
                a{
                    flex-basis: 100px;
                    text-align: center;
                    line-height: 93px;
                    color:#626262;
                    font-size:18px;
                    border-bottom: 1px solid transparent;
                    &:hover{
                        box-sizing: border-box;
                        color:#fff;
                        background:#cf1a2b; 
                        border-bottom: 1px solid #d94855;
                    }
                }
            }
            .basket{
                display: flex;
                align-items: center;
                a{   margin-right: 10px;
                    .basketSvg{
                        height: 30px;
                        width: 30px;
                        fill:#bdbdbd;
                    }
                }
                span{
                    color:#9d9d9d;
                    font-size:24px;
                }
            }    
        }
    }
}

    
// end header


//bestSales
.bestSales{
    background: #fff;
    .bestSalesBlock{
        @include wrapper;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        .item1{
            background: #58dbd3;
            &:after{
                content: '';
                display: block;
                background: url('../img/item1.png')right center no-repeat;
                height: 244px;
            }    
        }
        .item2{
            background: #e4ce9a;
             &:after{
                content: '';
                display: block;
                background: url('../img/item2.png')right bottom no-repeat;
                height: 184px;
            }
        }
        .item3{
            background: #ffa7ce;
            &:after{
                content: '';
                display: block;
                background: url('../img/item3.png')right bottom no-repeat;
                height: 159px;
            }
        }
        .style{
            flex-basis: 300px;
            
            position: relative;
            padding: 5px 0px 5px 20px;
            p{
                @include price;
            }
        }
    }
}
// end bestSales


//categories
.categories{
    background: url('../img/categoriesBg.jpg')top center no-repeat;
  
    background-size: cover;
    padding: 40px 0 150px 0;
    .categoriesBlock{
        @include wrapper;
        h2{
            font:116px $Josefin;
            color:#fff;
            text-transform: uppercase;
            text-align: center;
            margin-top:0;
        }
        .categoriesList{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            a{
                flex-basis: 150px;
                height: 150px;
                position: relative;
                border-radius: 50%;
                background: $colorCatagories;
                &:hover{
                    background: darken($colorCatagories,25%);
                }
                &:after{
                    content: '';
                    width: 120px;
                    height: 130px;
                    position: absolute;
                    top:13%;
                    left:13%;
//                    margin-left:-60px;
//                    margin-top:-60px;
                    background: url('../img/categoriesSetIcon.png') no-repeat;
                }
                
            }
            .item2::after{
                background-position: -145px 0;
            }
            .item3::after{
                background-position: -282px 0;
            }
            .item4::after{
                background-position: -408px 0;
            }
            .item5::after{
                background-position: -558px 0;
            }
            .item6::after{
                background-position: -685px 0;
            }
            .item7::after{
                background-position:-806px 0;
            }
            .item1:hover::after{
                background-position: 0 10px;
            }
            .item2:hover::after{
                background-position: -145px 10px;
            }
            .item3:hover::after{
                background-position: -282px 5px;
            }
            .item4:hover::after{
                background-position: -408px 10px;
            }
            .item5:hover::after{
                background-position: -558px 10px;
            }
            .item6:hover::after{
                background-position: -685px 10px;
            }
            .item7:hover::after{
                background-position: -806px 10px;
            }
            
            
            
            
        }
        
    }
}
//end categories

//products
.products{
    background: #fff;
   
    .productsBlock{
        @include wrapper;
          
        .productsTop{
            padding-top:40px; 
            display: flex;
            justify-content: space-between;
            flex-wrap:wrap;
            .productsItem{
                .logoItem{
                    background:url('../img/levis.png')no-repeat;
                    width: 376px;
                    height: 171px;
                    position: relative;
                    top:-56px;
                    
                }
                flex-basis: 60%;
                .descriptionItem{
                    font:15px $HelveticaCyr;
                    line-height:1.5; 
                    color:#1d1d1d;
                }
                .priceBlock{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .priceItem{
                        margin-top:20px;
                        font-size:36px;
                        color:1d1d1d;
                        span{
                        font-weight: bold;
                        }
                    }
                    .btnAdd{
                        font-size:38px;
                        color:#fff;
                        background: #d62132;
                        border: none;
                        padding: 8px 12px 8px 60px;
                        cursor: pointer;
                        position: relative;
                        
                        &:before{
                            content:'';
                            position: absolute;
                            top:50%;
                            left:8%;
                            margin-top:-13px;
//                            display: block;
                            width: 29px;
                            height: 26px;
                            background: url('../img/basket.png') no-repeat;
                           
                        }
                    }
                    .btnAdd:hover{
                        background: darken(#d62131 , 25%);
                    }
                }
               
            }
            .productsPhoto{
                flex-basis:40%;
                background:url('../img/productItem.jpg')top right no-repeat;
                height: 477px;
            }
        }
        .productsBottom{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 80px;
            figure{
                margin:40px 0 20px 0;
                display: block;
                flex-basis: 220px;
                height: 170px;
                background:#fbfbfb;
                border:1px solid #cacaca;
                text-align: center;
                cursor: pointer;
               
                .photoItem{
                    width: 100%;
                    height: auto;
                }
                figcaption{
                    font-size:16px;
                    color: rgba(29,29,29,.88);
                    margin-top: 15px;
                }
                &:hover{
                    border:1px solid rgba(255,128,140,.88)
                }
            }
        }
    }
}
//end products

//footer
//end footer
.footer{
    background: #1b2330;
    padding: 20px 0;
    .footerBlock{
        @include wrapper;
        display: flex;
        justify-content: space-between;
        .footerLeft{
            .footerLogo{
                h1{
                    font-size:38px;
                    font-weight: bold;
                    color:#626262;
                    text-transform: uppercase;
                    margin: 0 0;
                    span{
                        color:#06b5a9;
                    }
                }
            }
            .copy{
                font-size:15px;
                color:rgba(255,255,255,.5);
                margin-bottom: 0;
            }
        }
        .footerRight{
                display: flex;
                align-items: center;
            .s{
                width:40px;
                height: 40px;
                fill:#fff;
                margin-left: 20px;
            }
            a:hover .s{
                fill:darken(#fff,25%);
            }
        }
    }
}