
//font-family
$HelveticaNeue:'Heletica Neue','Tahoma',sans-serif; //main
$HelveticaCe: 'Helvetica Ce','Tahoma', sans-serif;
$Impact:'Impact' ,'Tahoma',sans-serif;
$Josefin:'Josefin Slab','Tahoma' ,sans-serif;
$HelveticaCyr:'HelveticaCyr Uplight' ,'Tahoma','sans-serif';


//
$colorCatagories: rgba(59,120,121,.5);